label.input {
    display: flex;
    flex-direction: column;

    margin-bottom: 12px;

    label {
        font-size: 12px;
        font-weight: 500;

        opacity: 0.6;

        margin-bottom: 4px;

        user-select: none;
    }

    input, select, textarea {
        border: solid 1px #bbb;
        border-radius: 6px;
        background-color: transparent;

        outline: none;

        font-size: 14px;

        &:focus {
            border-color: cornflowerblue;
            box-shadow: 0 0 0 2px rgba(cornflowerblue, 0.4);
        }

        &:user-invalid {
            border-color: darkred;
        }
    }

    input, select {
        height: 36px;
        padding: 0 12px;
    }

    textarea {
        padding: 12px;
        resize: vertical;
    }
}